:root
	background: #0e1628
	color: white

body
	margin: -1rem 0

main
	height: 98vh
	margin: 0
	overflow: hidden

.r
	color: #f06
.o
	color: #f60
.g
	color: #6f0
.t
	color: #06989a
.b
	color: #3465a4
.p
	color: #75507b
